<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MyBlazorApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="testpage">
                <span class="bi bi-cloud-download-fill-nav-menu" aria-hidden="true"></span> Test Page
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stocks">
                <span class="bi bi-graph-up-arrow-nav-menu" aria-hidden="true"></span> 股票追蹤
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trading">
                <span class="bi bi-cart-fill-nav-menu" aria-hidden="true"></span> 交易下單
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="orders">
                <span class="bi bi-list-check-nav-menu" aria-hidden="true"></span> 訂單管理
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="portfolio">
                <span class="bi bi-wallet2-nav-menu" aria-hidden="true"></span> 持股部位
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trade-history">
                <span class="bi bi-clock-history-nav-menu" aria-hidden="true"></span> 交易紀錄
            </NavLink>
        </div>
    </nav>
</div>

